@using System;
@using PackerTracker.Models;

<h1>Inventory:</h1>
<ul>

@if (Model.Count == 0)
{
  <p>You have no items in your inventory!</p>
}

@if (Model.Count != 0)
{
  @foreach (PackObject item in Model)
  {
      <li><a href="/items/@item.GetId()">@item.GetProduct()</a></li>
  }
}

</ul>
<a href="/items/new">Add a new item.</a>

<form action="/items/delete" method="post">
    <button type="submit" name="button">Clear All Items</button>
</form>